.button {
  border-radius: 45px;
  background: white;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  padding: 21px 0;
  text-decoration: none;
  color: #2D2C28;
  border: none;

  width: 196px;
  text-align: center;

  &.yellow {
    background: #FFDB60;
  }

  &.dots {
    position: relative;

    &:after {
      content: url("../images/dots.svg");
      position: absolute;
      transform: rotate(-90deg);
      top: -17px;
      right: -73px;
    }
  }
}
