.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.inherited-link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.centered {
  text-align: center;
}

@include desktop {

}
