.dream-box {
  .dream {
    margin-bottom: 80px;

    padding: 80px 50px 50px;
    background: url("../images/small-logo.svg") center 20px no-repeat, url("../images/dream-vault.svg") no-repeat;
    background-size: 50px, cover;
    border-radius: 15px;

    .title,
    .description {
      font-size: 18px;
      color: #282a2d;
      margin-bottom: 15px;
    }
  }
}

@include desktop {
  .dream-box {
    background: url('../images/triple-circles.svg') center no-repeat;
    background-size: 88%;

    .dream {
      background: url("../images/small-logo.svg") 20px 20px no-repeat, url("../images/dream-vault.svg") no-repeat;
      background-size: 50px, cover;

      padding: 50px;

      .title,
      .description {
        font-size: 20px;
      }
    }
  }
}
