.people-thinking-background {
  display: inline-block;
  height: auto;
  position: relative;
  z-index: -1;
  width: 120%;
  left: -10%;

  content: url('../images/people-thinking.svg');
}

.awesome-speaker-background {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
  left: 0px;

  content: url('../images/awesome-speaker.svg');
}

.glorious-partners-background {
  display: inline-block;
  height: auto;
  position: relative;
  z-index: -1;
  width: 120%;
  left: -10%;

  content: url('../images/glorious-partners.svg');
}

.github {
  content: url('../images/github.svg');
}

.twitter {
  content: url('../images/twitter.svg');
}


.join-us-background {
  display: inline-block;
  width: 100%;
  
  height: auto;
  position: relative;
  z-index: -1;
  left: 0px;
 

  content: url('../images/join-us.svg');
}

@include desktop {
  .join-us-background {
    width: 150%;
    left: -50%;
  }

  .awesome-speaker-background {
    width: 120%;
    left: 8%;
  }

  .glorious-partners-background {
    width: 150%;
    left: -50%;
  }

  .people-thinking-background {
    width: 180%;
    left: -20%;
    bottom: -38px;
  }
}