.order-form-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition-duration: 0.2s;
  transform: translate(100%);

  flex-direction: row;
  justify-content: flex-end;

  .form-box {
    overflow-y: scroll;

    background: $color-red;
    height: 100%;
    padding: 20px;

    .cancel-button {
      color: $color-white;
      border: 1px solid $color-white;
      background: $color-red;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 8px;

      &:hover {
        background: darken($color: $color-red, $amount: 5%)
      }
    }
  }

  display: flex;
  z-index: -1;
}

.form {
  padding: 40px 0;
  .title {
    color: $color-white;
    border-bottom: 1px solid $color-white;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .input {
    width: 100%;
    margin-bottom: 15px;
    padding: 14px;
    border: 1px solid $color-dark-red;
    border-radius: 5px;
    color: $color-white;
    font-weight: bold;
    background: $color-dark-red;
  }

  .input:invalid {
    background: $color-dark-red;
  }

  .input::placeholder {
    color: #DF3032;
    font-weight: bold;
  }

  .input:not(:read-only):focus {
    background: $color-red;
  }

  .visitors > * {
    padding-top: 20px;
  }

  .count-button,
  .counter {
    height: 49px;
    width: 49px;
    margin-right: 5px;
    border-radius: 4px;
    color: $color-white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    flex-shrink: 0
  }

  .count-button:last-of-type {
    margin-right: 0;
  }

  .count-button {
    border: 1px solid $color-dark-red;
    color: $color-white;
    background: $color-red;
  }

  .count-button:disabled {
    color: #C32628;
    border: 1px solid #C32628;
  }

  .checkout {
    font-size: 16px;
    font-weight: bold;
    color: $color-red;
    display: inline-block;
    border: 1px solid $color-red;
    border-radius: 8px;
    padding: 13px 20px 15px;
    flex-shrink: 0;
    background: $color-white;
  }

  .calculator {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .white-text {
    color: $color-white;
  }

  .price {
    color: $color-white;
    font-weight: bold;
    display: inline-block;
    flex-shrink: 0;

    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;

    > * {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.order-form-overlay.opened {
  z-index: 8888;

  transition-duration: 0.6s;
  transform: translate(0%);
}

@include tablet {
  .form {
    .calculator {
      flex-wrap: nowrap;
    }
  }
}

@include desktop {
  .form {
    .checkout:hover {
      background: darken($color: #fff, $amount: 10%)
    }

    .count-button:not(:disabled):hover {
      background: lighten($color: $color-red, $amount: 5%)
    }
  }

  .order-form-overlay {
    transform: translate(50%);

    .tap-to-close {
      width: 100%;
      height: 100%;
    }

    .form-box {
      width: 60%;
      padding: 50px 80px;
      max-width: 600px;
    }
  }
}
