@import 'grid/main';
@import 'hamburgers/main';

@import 'styles/normalize';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/mixins';

body {
  font-family: 'Avenir Next', sans-serif;
  font-style: normal;
  font-weight: normal; 
  font-size: $fz-medium;
}

@include desktop {

}
