@import 'grid/main';
@import 'hamburgers/main';

@import 'styles/normalize';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/grid';

@import 'styles/common';
@import 'styles/header';
@import 'styles/gradients';
@import 'styles/first_screen';
@import 'styles/text_styles';
@import 'styles/buttons';
@import 'styles/titles';
@import 'styles/courses';
@import 'styles/advantages';
@import 'styles/lead_form';
@import 'styles/schedule';
@import 'styles/level_test';

body {
  font-family: 'Avenir Next', sans-serif;
  font-style: normal;
  font-weight: 100; 
  font-size: $fz-medium;

  margin-bottom: 200px;
}

@include desktop {
  body {
    margin: 0;
  }

  .first-screen {
    height: 500px;
  }
}
